<!-- app/views/stuffs/registrations/edit_password.html.erb -->
<h2>Update Your Password</h2>

<%= form_for(resource, as: resource_name, url: update_password_path, method: :patch) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :current_password %> <br>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :password %> <br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :password_confirmation %> <br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    <%= f.submit "Update Password" %>
  </div>
<% end %>