<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to 'New product', new_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <br>
      <% if stuff_signed_in? %>
      <%= button_to "Logout", destroy_stuff_session_path, method: :delete, style: "background-color: #f55555; color: #fff; padding: 0.5rem 1rem; border-radius: 0.375rem; cursor: pointer;" %>
      <br>
 <%= button_to "Orders", purchase_orders_url, method: :get, style: "background-color: #f56565; color: #fff; padding: 0.5rem 1rem; border-radius: 0.375rem; cursor: pointer;" %>
   


      <% end %>
    <br>

  <div id="products" class="min-w-full">

    <%= render @products %><br>

  
  </div>
</div>
